<html>
<head>
<title>Mail</title>
<style type="text/css">
body {{ font-family: Arial; font-size: 23.2px }}
.pos {{ position: absolute; z-index: 0; left: 0px; top: 0px }}
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<div class="pos" id="_100:106" style="top:106;left:100">
<span id="_32.1" style="font-weight:bold; font-family:Times New Roman; font-size:32.1px; color:#00aff0">
Remote Desktop via Mail</span>
</div>
<hr class="solid" style="border-top: 2px solid #bbb;">
<div class="pos" id="_100:198" style="top:198;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Hello there,</span>
</div>
<div class="pos" id="_100:238" style="top:238;left:100">
<span id="_17.4" style="font-weight:bold; font-family:Times New Roman; font-size:17.4px; color:#00af4f">
Copy file<span style="font-weight:normal; color:#000000"> successfully!</span></span>
</div>
<div class="pos" id="_99:279" style="top:279;left:99">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
The attached file below is the results of your request.</span>
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
    <br>If you want to learn more, don't hesitate to email with the Subject (without quotes):</span>
    <span id="_17.4" style="font-weight:bold; font-style: italic; font-family:Times New Roman; font-size:17.4px; color:#2f7904"> "RDM-HELP"</span>
</div>
<div class="pos" id="_99:319" style="top:319;left:99">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Best regards,</span>
</div>
<div class="pos" id="_100:359" style="top:359;left:100">
<span id="_17.4" style="font-weight:bold; font-family:Times New Roman; font-size:17.4px; color:#006fc0">
Team 6.</span>
</div>
<hr class="solid" style="border-top: 2px solid #bbb;">
<div class="pos" id="_100:592" style="top:592;left:100">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#2f5395">
Team 6 - 20TN - Computer Network:</span>
</div>
<div class="pos" id="_125:630" style="top:630;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px"> 20120412 - Nguyen Quang Binh</span></span>
</div>
<div class="pos" id="_125:649" style="top:649;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px"> 20120476 - Nguyen Trong Hieu</span></span>
</div>
<div class="pos" id="_125:668" style="top:668;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px"> 20120596 - Nguyen Bao Tin</span></span>
</div>
</nowrap></nobr>
</body>
</html>
