<html>
<head>
<title>Mail</title>
<style type="text/css">
body {{ font-family: Arial; font-size: 24.3px }}
.pos {{ position: absolute; z-index: 0; left: 0px; top: 0px }}
</style>
</head>
<body>
<nobr><nowrap>
<!-- <div class="pos" id="_0:0" style="top:0"> -->
<div class="pos" id="_100:106" style="top:106;left:100">
<span id="_32.1" style="font-weight:bold; font-family:Times New Roman; font-size:32.1px; color:#00aff0">
Remote Desktop via Mail</span>
</div>
<div class="pos" id="_590:161" style="top:161;left:590">
<span id="_24.1" style=" font-family:Times New Roman; font-size:24.1px; color:#00aff0">
    -<span style="font-weight:bold"> Instruction -  </span></span>
</div>
<div class="pos" id="_100:246" style="top:220;left:100">
    <hr class="solid" style="border-top: 2px solid #bbb;width:650">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Hello there,</span>
</div>
<div class="pos" id="_100:287" style="top:287;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
This is a brief guide to the <span style="font-weight:bold; color:#006fc0"> Remote-Desktop-via-Mail</span> program. This mail will show you </span>
</div>
<div class="pos" id="_100:307" style="top:307;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
how to send a syntactically correct request to control the remote computer in your own </span>
</div>
<div class="pos" id="_100:328" style="top:328;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
way!</span>
</div>
<div class="pos" id="_100:368" style="top:368;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
This instruction will go through 20 commands (each with an example if it requires a </span>
</div>
<div class="pos" id="_100:389" style="top:389;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
content that cannot be left blank). <span style="font-weight:bold"> If the command does not request the content, the </span></span>
</div>
<div class="pos" id="_100:410" style="top:410;left:100">
<span id="_17.4" style="font-weight:bold; font-family:Times New Roman; font-size:17.4px; color:#000000">
content will not be mentioned in this instruction.</span>
</div>
<div class="pos" id="_100:450" style="top:450;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
The group of commands will be divided into two groups: commands about the <span style="font-weight:bold; color:#ff0000"> control</span><span style=" color:#ff0000"> </span></span>
</div>
<div class="pos" id="_100:471" style="top:471;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
feature and commands that are <span style="font-weight:bold; color:#006fc0"> systematic</span> .</span>
</div>
<div class="pos" id="_125:511" style="top:511;left:125">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#c00000">
1.<span style="font-weight:bold"> Control commands:</span></span>
</div>
<div class="pos" id="_175:532" style="top:532;left:175">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#2e73b4">
a.<span style="font-weight:bold"> PROCESS:</span></span>
</div>
<div class="pos" id="_225:553" style="top:553;left:225">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold; text-decoration:underline; font-size:17.4px">View a list of running processes:</span></span>
</div>
<div class="pos" id="_250:593" style="top:593;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-LIST PROCESS</span>
</div>
<div class="pos" id="_225:633" style="top:633;left:225">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold; text-decoration:underline; font-size:17.4px">Kill a particular process by specifying the ID:</span></span>
</div>
<div class="pos" id="_250:673" style="top:673;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-KILL PROCESS</span>
</div>
<div class="pos" id="_250:713" style="top:713;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Content: &lt;ID of process that you want to kill&gt;</span>
</div>
<div class="pos" id="_250:754" style="top:754;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: 13579</span>
</div>
<div class="pos" id="_175:794" style="top:794;left:175">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#2e73b4">
b.<span style="font-weight:bold"> APP:</span></span>
</div>
<div class="pos" id="_225:815" style="top:815;left:225">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold; text-decoration:underline; font-size:17.4px">View a list of running applications:</span></span>
</div>
<div class="pos" id="_250:855" style="top:855;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-LIST APP</span>
</div>
<div class="pos" id="_225:895" style="top:895;left:225">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold; text-decoration:underline; font-size:17.4px">Kill a particular application by specifying the ID:</span></span>
</div>
<div class="pos" id="_250:935" style="top:935;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-KILL APP</span>
</div>
<div class="pos" id="_250:975" style="top:975;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Content: &lt;ID of application that you want to kill&gt;</span>
</div>
<!-- <div class="pos" id="_0:0" style="top:1100">-->
<div class="pos" id="_250:1202" style="top:1016;left:250">
<span id="_17.3" style="font-style:italic; font-family:Times New Roman; font-size:17.3px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: 24680</span>
</div>
<div class="pos" id="_175:1242" style="top:1061;left:175">
<span id="_17.3" style=" font-family:Times New Roman; font-size:17.3px; color:#2e73b4">
c.<span style="font-weight:bold"> SCREEN:</span></span>
</div>
<div class="pos" id="_225:1263" style="top:1082;left:225">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
&#160;<span id="_17.3" style="font-weight:bold; text-decoration:underline; font-size:17.3px">Shot screen:</span></span>
</div>
<div class="pos" id="_250:1303" style="top:1122;left:250">
<span id="_17.3" style=" font-family:Times New Roman; font-size:17.3px; color:#000000">
Subject: RDM-CAPTURE SCREEN</span>
</div>
<div class="pos" id="_225:1344" style="top:1162;left:225">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
&#160;<span id="_17.3" style="font-weight:bold; text-decoration:underline; font-size:17.3px">Record screen:</span></span>
</div>
<div class="pos" id="_250:1383" style="top:1202;left:250">
<span id="_17.3" style=" font-family:Times New Roman; font-size:17.3px; color:#000000">
Subject: RDM-RECORD SCREEN</span>
</div>
<div class="pos" id="_250:1424" style="top:1242;left:250">
<span id="_17.3" style=" font-family:Times New Roman; font-size:17.3px; color:#000000">
Content: &lt;input recording time, unit: seconds&gt;</span>
</div>
<div class="pos" id="_250:1464" style="top:1283;left:250">
<span id="_17.3" style="font-style:italic; font-family:Times New Roman; font-size:17.3px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: 10</span>
</div>
<div class="pos" id="_175:1504" style="top:1328;left:175">
<span id="_17.3" style=" font-family:Times New Roman; font-size:17.3px; color:#2e73b4">
d.<span style="font-weight:bold"> WEBCAM:</span></span>
</div>
<div class="pos" id="_225:1525" style="top:1349;left:225">
<span id="_12.5" style=" font-family:Times New Roman; font-size:12.5px; color:#000000">
&#160;<span id="_17.8" style="font-weight:bold; text-decoration:underline; font-size:17.8px">Shot webcam:</span></span>
</div>
<div class="pos" id="_250:1565" style="top:1389;left:250">
<span id="_17.8" style=" font-family:Times New Roman; font-size:17.8px; color:#000000">
Subject: RDM-SHOT WEBCAM</span>
</div>
<div class="pos" id="_225:1606" style="top:1429;left:225">
<span id="_12.5" style=" font-family:Times New Roman; font-size:12.5px; color:#000000">
&#160;<span id="_17.8" style="font-weight:bold; text-decoration:underline; font-size:17.8px">Record webcam:</span></span>
</div>
<div class="pos" id="_250:1645" style="top:1469;left:250">
<span id="_17.8" style=" font-family:Times New Roman; font-size:17.8px; color:#000000">
Subject: RDM-RECORD WEBCAM</span>
</div>
<div class="pos" id="_250:1686" style="top:1509;left:250">
<span id="_17.8" style=" font-family:Times New Roman; font-size:17.8px; color:#000000">
Content: &lt;input recording time, unit: seconds&gt;</span>
</div>
<div class="pos" id="_250:1726" style="top:1550;left:250">
<span id="_17.2" style="font-style:italic; font-family:Times New Roman; font-size:17.2px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: 10</span>
</div>
<div class="pos" id="_125:1766" style="top:1585;left:125">
<span id="_17.2" style=" font-family:Times New Roman; font-size:17.2px; color:#c00000">
2.<span style="font-weight:bold">Systematic commands:</span></span>
</div>
<div class="pos" id="_175:1787" style="top:1607;left:175">
<span id="_17.2" style=" font-family:Times New Roman; font-size:17.2px; color:#2e73b4">
a.<span style="font-weight:bold"> FILE SYSTEM:</span></span>
</div>
<div class="pos" id="_225:1808" style="top:1628;left:225">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
&#160;<span id="_17.2" style="font-weight:bold; text-decoration:underline; font-size:17.2px">View a tree of a particular system file:</span></span>
</div>
<div class="pos" id="_250:1848" style="top:1668;left:250">
<span id="_17.2" style=" font-family:Times New Roman; font-size:17.2px; color:#000000">
Subject: RDM-VIEW FILE SYSTEM</span>
</div>
<div class="pos" id="_250:1888" style="top:1708;left:250">
<span id="_17.2" style=" font-family:Times New Roman; font-size:17.2px; color:#000000">
Content: &lt;path of the folder that you want to view&gt;</span>
</div>
<div class="pos" id="_250:1928" style="top:1748;left:250">
<span id="_17.2" style="font-weight:bold; font-family:Times New Roman; font-size:17.2px; color:#000000">
Note:<span style="font-weight:normal">The content can be blank, that means 	&#34;I want to view the root	&#34;</span></span>
</div>
<div class="pos" id="_250:1968" style="top:1793;left:250">
<span id="_17.2" style="font-style:italic; font-family:Times New Roman; font-size:17.2px; color:#000000">
    <U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: C:\Users\Admin</span>
</div>
<div class="pos" id="_225:2009" style="top:1833;left:225">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
&#160;<span id="_17.2" style="font-weight:bold; text-decoration:underline; font-size:17.2px">Copy a file:</span></span>
</div>
<div class="pos" id="_250:2049" style="top:1873;left:250">
<span id="_17.2" style=" font-family:Times New Roman; font-size:17.2px; color:#000000">
Subject: RDM-COPY FILE SYSTEM</span>
</div>
<!-- <div class="pos" id="_0:0" style="top:2200">-->
<div class="pos" id="_250:2302" style="top:1913;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Content: 	&#34;&lt;path of the file you want to copy&gt;	&#34; 	&#34;&lt;path of the folder you want to copy to&gt;	&#34;</span>
</div>
<div class="pos" id="_250:2363" style="top:1948;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: </span>
</div>
<div class="pos" id="_250:2384" style="top:1988;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
	&#34;C:\Users\Admin\Documents\GitHub\report.pdf	&#34; 	&#34;C:\Users\Admin\Documents	&#34;</span>
</div>

<div class="pos" id="_225:2445" style="top:2028;left:225">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold; text-decoration:underline; font-size:17.4px">Download a file:</span></span>
</div>
<div class="pos" id="_250:2485" style="top:2068;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-DOWNLOAD FILE SYSTEM</span>
</div>
<div class="pos" id="_250:2525" style="top:2108;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Content: &lt;path of the file that you want to download&gt;</span>
</div>
<div class="pos" id="_250:2565" style="top:2153;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: C:\Users\Admin\Documents\instruction.pdf</span>
</div>
<div class="pos" id="_175:2605" style="top:2193;left:175">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#2e73b4">
b.<span style="font-weight:bold"> KEYLOGGER:</span></span>
</div>
<div class="pos" id="_200:2646" style="top:2233;left:200">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-KEYLOGGER</span>
</div>
<div class="pos" id="_200:2686" style="top:2273;left:200">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Content: &lt;input tracking time, unit: seconds&gt;</span>
</div>
<div class="pos" id="_200:2726" style="top:2318;left:200">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: 10</span>
</div>
<div class="pos" id="_175:2766" style="top:2358;left:175">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#2e73b4">
c.<span style="font-weight:bold"> SHUTDOWN:</span></span>
</div>
<div class="pos" id="_200:2806" style="top:2398;left:200">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-SHUTDOWN</span>
</div>
<div class="pos" id="_175:2847" style="top:2438;left:175">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#2e73b4">
d.<span style="font-weight:bold"> RESTART:</span></span>
</div>
<div class="pos" id="_200:2887" style="top:2478;left:200">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-RESTART</span>
</div>
<div class="pos" id="_175:2927" style="top:2518;left:175">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#2e73b4">
e.<span style="font-weight:bold"> REGISTRY:</span></span>
</div>
<div class="pos" id="_225:2948" style="top:2558;left:225">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold; text-decoration:underline; font-size:17.4px">Create a registry key:</span></span>
</div>
<div class="pos" id="_250:2988" style="top:2598;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-CREATE REGISTRY</span>
</div>
<div class="pos" id="_250:3028" style="top:2638;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Content: &lt;Hotkey&gt;,&lt;path of the key (folder) you want to create key in&gt;,&lt;name of the new key&gt;</span>
</div>
<!-- <div class="pos" id="_250:3049" style="top:3049;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
</span>
</div>-->
<div class="pos" id="_250:3089" style="top:2678;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: </span>
</div>
<div class="pos" id="_250:3110" style="top:2718;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
HKEY_CURRENT_CONFIG,Software\Fonts,NewFont</span>
</div>
<div class="pos" id="_225:3150" style="top:2758;left:225">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold; text-decoration:underline; font-size:17.4px">Set value for a key:</span></span>
</div>
<!-- <div class="pos" id="_0:0" style="top:3300">-->
<div class="pos" id="_250:3402" style="top:2798;left:250">
<span id="_17.6" style=" font-family:Times New Roman; font-size:17.6px; color:#000000">
Subject: RDM-SET REGISTRY</span>
</div>
<div class="pos" id="_250:3442" style="top:2838;left:250">
<span id="_17.6" style=" font-family:Times New Roman; font-size:17.6px; color:#000000">
Content: &lt;Hotkey&gt;,&lt;path of the key you want to set value&gt;,&lt;name of the value you want to set&gt;,</span>
</div>
<div class="pos" id="_250:3463" style="top:2878;left:250">
<span id="_17.6" style=" font-family:Times New Roman; font-size:17.6px; color:#000000">
&lt;datatype of the value&gt;,&lt;value&gt;</span>
</div>
<div class="pos" id="_250:3503" style="top:2918;left:250">
<span id="_17.6" style="font-style:italic; font-family:Times New Roman; font-size:17.6px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: </span>
</div>
<div class="pos" id="_250:3524" style="top:2958;left:250">
<span id="_17.6" style="font-style:italic; font-family:Times New Roman; font-size:17.6px; color:#000000">
HKEY_CURRENT_USER,Microsoft\Windows\CurrentVersion\Explorer\StartupApproved\Run,</span>
</div>
<div class="pos" id="_250:3545" style="top:2998;left:250">
<span id="_17.6" style="font-style:italic; font-family:Times New Roman; font-size:17.6px; color:#000000">
OneDriveSetup,REG_BINARY,04 00 00 0 00 00 00 00 00 00 00 000</span>
</div>
<!-- <div class="pos" id="_250:3565" style="top:2958;left:250">
<span id="_17.6" style="font-style:italic; font-family:Times New Roman; font-size:17.6px; color:#000000">
</span>
</div>-->
<div class="pos" id="_225:3606" style="top:3038;left:225">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
&#160;<span id="_17.6" style="font-weight:bold; text-decoration:underline; font-size:17.6px">Get the value of a key:</span></span>
</div>
<div class="pos" id="_250:3646" style="top:3078;left:250">
<span id="_17.6" style=" font-family:Times New Roman; font-size:17.6px; color:#000000">
Subject: RDM-GET REGISTRY</span>
</div>
<div class="pos" id="_250:3686" style="top:3118;left:250">
<span id="_17.6" style=" font-family:Times New Roman; font-size:17.6px; color:#000000">
Content: &lt;Hotkey&gt;,&lt;path of the key you want to set value&gt;,&lt;name of the value you want to get&gt;</span>
</div>
<!-- <div class="pos" id="_250:3707" style="top:3707;left:250">
<span id="_17.6" style=" font-family:Times New Roman; font-size:17.6px; color:#000000">
</span>
</div>-->
<div class="pos" id="_250:3747" style="top:3158;left:250">
<span id="_17.6" style="font-style:italic; font-family:Times New Roman; font-size:17.6px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: </span>
</div>
<div class="pos" id="_250:3768" style="top:3198;left:250">
<span id="_17.6" style="font-style:italic; font-family:Times New Roman; font-size:17.6px; color:#000000">
HKEY_CURRENT_USER,Microsoft\Windows\CurrentVersion\Explorer\StartupApproved\Run,OneDriveSetup</span>
</div>
<!-- <div class="pos" id="_250:3788" style="top:3788;left:250">
<span id="_17.6" style="font-style:italic; font-family:Times New Roman; font-size:17.6px; color:#000000">
</span>
</div>-->
<div class="pos" id="_225:3829" style="top:3238;left:225">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
&#160;<span id="_17.6" style="font-weight:bold; text-decoration:underline; font-size:17.6px">Write a new key, value in the system:</span></span>
</div>
<div class="pos" id="_250:3869" style="top:3278;left:250">
<span id="_17.6" style=" font-family:Times New Roman; font-size:17.6px; color:#000000">
Subject: RDM-WRITE REGISTRY</span>
</div>
<div class="pos" id="_250:3909" style="top:3318;left:250">
<span id="_17.6" style=" font-family:Times New Roman; font-size:17.6px; color:#000000">
Content: &lt;Blocks of code according to structure of REG file&gt;</span>
</div>
<div class="pos" id="_250:3949" style="top:3358;left:250">
<span id="_17.6" style="font-weight:bold; font-family:Times New Roman; font-size:17.6px; color:#000000">
Note:<span style="font-weight:normal">The content can be blank, but email must attach a REG file.</span></span>
</div>
<div class="pos" id="_250:3989" style="top:3388;left:250">
<span id="_17.6" style="font-style:italic; font-family:Times New Roman; font-size:17.6px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content:</span>
</div>
<div class="pos" id="_250:4028" style="top:3418;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
Windows Registry Editor Version 5.00</span>
</div>
<div class="pos" id="_250:4059" style="top:3448;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Classes\\.bmp]</span>
</div>
<div class="pos" id="_250:4075" style="top:3478;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
@="PhotoViewer.FileAssoc.Tiff"</span>
</div>
<div class="pos" id="_250:4106" style="top:3508;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Classes\\.gif]</span>
</div>
<div class="pos" id="_250:4122" style="top:3538;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
@="PhotoViewer.FileAssoc.Tiff"</span>
</div>
<div class="pos" id="_250:4153" style="top:3568;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Classes\\.ico]</span>
</div>
<div class="pos" id="_250:4169" style="top:3598;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
@="PhotoViewer.FileAssoc.Tiff"</span>
</div>
<div class="pos" id="_250:4201" style="top:3628;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Classes\\.jpeg]</span>
</div>
<div class="pos" id="_250:4216" style="top:3658;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
@="PhotoViewer.FileAssoc.Tiff"</span>
</div>
<div class="pos" id="_250:4248" style="top:3688;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Classes\\.jpg]</span>
</div>
<div class="pos" id="_250:4264" style="top:3718;left:250">
<span id="_13.5" style=" font-family:Courier New; font-size:13.5px; color:#000000">
@="PhotoViewer.FileAssoc.Tiff"</span>
</div>
<div class="pos" id="_250:4500" style="top:3748;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Classes\\.png]</span>
</div>
<div class="pos" id="_250:4515" style="top:3778;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
@="PhotoViewer.FileAssoc.Tiff"</span>
</div>
<div class="pos" id="_250:4547" style="top:3808;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Microsoft\\Windows\\CurrentVe</span>
</div>
<div class="pos" id="_250:4563" style="top:3838;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
rsion\\Explorer\\FileExts\\.gif\\OpenWithProgids]</span>
</div>
<div class="pos" id="_250:4578" style="top:3878;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
"PhotoViewer.FileAssoc.Tiff"=hex(0):</span>
</div>
<div class="pos" id="_250:4610" style="top:3908;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Microsoft\\Windows\\CurrentVe</span>
</div>
<div class="pos" id="_250:4626" style="top:3938;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
rsion\\Explorer\\FileExts\\.ico\\OpenWithProgids]</span>
</div>
<div class="pos" id="_250:4641" style="top:3968;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
"PhotoViewer.FileAssoc.Tiff"=hex(0):</span>
</div>
<div class="pos" id="_250:4673" style="top:3998;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Microsoft\\Windows\\CurrentVe</span>
</div>
<div class="pos" id="_250:4688" style="top:4028;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
rsion\\Explorer\\FileExts\\.jpeg\\OpenWithProgids]</span>
</div>
<div class="pos" id="_250:4704" style="top:4058;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
"PhotoViewer.FileAssoc.Tiff"=hex(0):</span>
</div>
<div class="pos" id="_250:4736" style="top:4088;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Microsoft\\Windows\\CurrentVe</span>
</div>
<div class="pos" id="_250:4751" style="top:4118;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
rsion\\Explorer\\FileExts\\.bmp\\OpenWithProgids]</span>
</div>
<div class="pos" id="_250:4767" style="top:4148;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
"PhotoViewer.FileAssoc.Tiff"=hex(0):</span>
</div>
<div class="pos" id="_250:4799" style="top:4178;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Microsoft\\Windows\\CurrentVe</span>
</div>
<div class="pos" id="_250:4814" style="top:4208;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
rsion\\Explorer\\FileExts\\.jpg\\OpenWithProgids]</span>
</div>
<div class="pos" id="_250:4830" style="top:4238;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
"PhotoViewer.FileAssoc.Tiff"=hex(0):</span>
</div>
<div class="pos" id="_250:4862" style="top:4268;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
[HKEY_CURRENT_USER\\SOFTWARE\\Microsoft\\Windows\\CurrentVe</span>
</div>
<div class="pos" id="_250:4877" style="top:4298;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
rsion\\Explorer\\FileExts\\.png\\OpenWithProgids]</span>
</div>
<div class="pos" id="_250:4893" style="top:4338;left:250">
<span id="_13.4" style=" font-family:Courier New; font-size:13.4px; color:#000000">
"PhotoViewer.FileAssoc.Tiff"=hex(0):</span>
</div>
<div class="pos" id="_225:4931" style="top:4378;left:225">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold;text-decoration:underline; font-size:17.4px">Delete a key:</span></span>
</div>
<div class="pos" id="_250:4971" style="top:4418;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-DELETE KEY REGISTRY</span>
</div>
<div class="pos" id="_250:5011" style="top:4458;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Content: &lt;Hotkey&gt;,&lt;path to the key you want to delete&gt;</span>
</div>
<div class="pos" id="_250:5051" style="top:4498;left:250">
<span id="_17.4" style="font-weight:bold; font-family:Times New Roman; font-size:17.4px; color:#000000">
Note:<span style="font-weight:normal">If you delete a key having some subkeys, they will be deleted too.</span></span>
</div>
<!-- <div class="pos" id="_250:5072" style="top:4458;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
</span>
</div>-->
<div class="pos" id="_250:5112" style="top:4538;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: </span>
</div>
<div class="pos" id="_250:5133" style="top:4578;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
HKEY_CURRENT_CONFIG,Software\Fonts\NewFont</span>
</div>
<div class="pos" id="_225:5173" style="top:4618;left:225">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#000000">
&#160;<span id="_17.4" style="font-weight:bold;text-decoration:underline; font-size:17.4px">Delete value of a key:</span></span>
</div>
<div class="pos" id="_250:5213" style="top:4658;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Subject: RDM-DELETE VALUE REGISTRY</span>
</div>
<div class="pos" id="_250:5253" style="top:4698;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Content: &lt;Hotkey&gt;,&lt;path to the key you want to delete its value&gt;,&lt;name of the value you want to delete&gt;</span>
</div>
<!-- <div class="pos" id="_250:5274" style="top:4658;left:250">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
</span>
</div>-->
<div class="pos" id="_250:5314" style="top:4738;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
<U>E</U><U>x</U><U>a</U><U>m</U><U>p</U><U>l</U><U>e</U>: Content: </span>
</div>
<div class="pos" id="_250:5335" style="top:4778;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
HKEY_CURRENT_USER,Microsoft\Windows\CurrentVersion\Explorer\StartupApproved\Run,OneDriveSetup</span>
</div>
<!-- <div class="pos" id="_250:5356" style="top:4778;left:250">
<span id="_17.4" style="font-style:italic; font-family:Times New Roman; font-size:17.4px; color:#000000">
</span>
</div>-->
<!-- <div class="pos" id="_0:0" style="top:5500">-->
<!-- <hr class="solid" style="border-top: 2px solid #bbb;">-->
<div class="pos" id="_99:319" style="top:4810;left:99">
    <hr class="solid" style="border-top: 2px solid #bbb;width:700">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
    Hope this instruction mail is useful to you.
    <br>Best regards,</span>
</div>
<div class="pos" id="_100:359" style="top:4885;left:100">
<span id="_17.4" style="font-weight:bold; font-family:Times New Roman; font-size:17.4px; color:#006fc0">
Team 6.</span>
</div>
<div class="pos" id="_100:592" style="top:4920;left:100">
    <hr class="solid" style="border-top: 2px solid #bbb;width:700">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#2f5395">
Team 6 - 20TN - Computer Network:</span>
</div>
<div class="pos" id="_125:630" style="top:4980;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px">20120412 - Nguyen Quang Binh</span></span>
</div>
<div class="pos" id="_125:649" style="top:5005;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px">20120476 - Nguyen Trong Hieu</span></span>
</div>
<div class="pos" id="_125:668" style="top:5030;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px">20120596 - Nguyen Bao Tin</span></span>
</div>
</nowrap></nobr>
</body>
</html>