<html>
<head>
<title>Mail</title>
<style type="text/css">
body {{ font-family: Arial; font-size: 23.2px }}
.pos {{ position: absolute; z-index: 0; left: 0px; top: 0px }}
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<div class="pos" id="_100:106" style="top:106;left:100">
<span id="_32.1" style="font-weight:bold; font-family:Times New Roman; font-size:32.1px; color:#00aff0">
Remote Desktop via Mail</span>
</div>
<hr class="solid" style="border-top: 2px solid #bbb;">
<div class="pos" id="_100:198" style="top:198;left:100">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Hello there,</span>
</div>
<div class="pos" id="_100:238" style="top:238;left:100">
<span id="_17.4" style="font-weight:bold; font-family:Times New Roman; font-size:17.4px; color:#00af4f">
Kill App<span style="font-weight:normal; color:#000000"> successfully!</span></span>
</div>
<div class="pos" id="_99:279" style="top:279;left:99">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
The application corresponding to the id you provided has been stopped/turned off.</span>
<div class="pos" id="_99:319" style="top:319;left:99">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#000000">
Best regards,</span>
</div>
<div class="pos" id="_100:359" style="top:359;left:100">
<span id="_17.4" style="font-weight:bold; font-family:Times New Roman; font-size:17.4px; color:#006fc0">
Team 6.</span>
</div>
<hr class="solid" style="border-top: 2px solid #bbb;">
<div class="pos" id="_100:438" style="top:438;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
<U>T</U><U>r</U><U>y</U><U> </U><U>m</U><U>o</U><U>r</U><U>e</U><U> </U><U>r</U><U>e</U><U>m</U><U>o</U><U>t</U><U>e</U><U> </U><U>c</U><U>o</U><U>m</U><U>m</U><U>a</U><U>n</U><U>d</U><U>s</U><U> </U><U>v</U><U>i</U><U>a</U><U> </U><U>M</U><U>a</U><U>i</U><U>l</U> (start the subject with "RDM-&lt;command&gt;"):</span>
</div>
<div class="pos" id="_100:476" style="top:476;left:100">
<span id="_16.1" style="font-style:italic; font-family:Times New Roman; font-size:16.1px; color:#c00000">
    'LIST PROCESS', 'KILL PROCESS', 'LIST APP', 'CAPTURE SCREEN', 'RECORD SCREEN', 'SHOT WEBCAM',</span>
</div>
<div class="pos" id="_100:495" style="top:495;left:100">
<span id="_16.1" style="font-style:italic; font-family:Times New Roman; font-size:16.1px; color:#c00000">
    'RECORD WEBCAM', 'VIEW FILE SYSTEM', 'COPY FILE SYSTEM', 'KEYLOGGER', 'SHUTDOWN', 'RESTART', </span>
</div>
<div class="pos" id="_100:514" style="top:514;left:100">
<span id="_16.1" style="font-style:italic; font-family:Times New Roman; font-size:16.1px; color:#c00000">
    'WRITE REGISTRY', 'GET REGISTRY', 'CREATE REGISTRY', 'SET REGISTRY', 'DELETE VALUE  REGISTRY', </span>
</div>
<div class="pos" id="_100:533" style="top:533;left:100"></div>
<span id="_16.1" style="font-style:italic; font-family:Times New Roman; font-size:16.1px; color:#c00000">
    'DELETE KEY  REGISTRY',  'DOWNLOAD FILE SYSTEM'</span>
</div>
<hr class="solid" style="border-top: 2px solid #bbb;">
<div class="pos" id="_100:592" style="top:592;left:100">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#2f5395">
Team 6 - 20TN - Computer Network:</span>
</div>
<div class="pos" id="_125:630" style="top:630;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px"> 20120412 - Nguyen Quang Binh</span></span>
</div>
<div class="pos" id="_125:649" style="top:649;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px"> 20120476 - Nguyen Trong Hieu</span></span>
</div>
<div class="pos" id="_125:668" style="top:668;left:125">
<span id="_12.3" style=" font-family:Times New Roman; font-size:12.3px; color:#2f5395">
&#160;<span id="_16.1" style="font-style:italic; font-size:16.1px"> 20120596 - Nguyen Bao Tin</span></span>
</div>
</nowrap></nobr>
</body>
</html>
